html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e6e6e;
    position: relative; /* Macht den Body zum Bezugspunkt für absolut positionierte Kinder */
}

#canvasZone, #loadingScreen {
    position: absolute; /* Absolut positioniert beide Elemente relativ zum nächst höheren relativ positionierten Vorfahren */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; /* Removes the focus outline */
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#loadingScreen {
    background: url('./graphics/titlescreen.png') no-repeat center center;
    background-size: 100% 100%;
    z-index: 10; /* Sorgt dafür, dass es über dem Canvas liegt */
}

#loadingContainer {
    position: absolute; /* Absolutely positioned */
    bottom: 58%; /* 15% from the bottom */
    left: 40%; /* Centering: Left margin is 20% */
    right: 38%; /* Centering: Right margin is also 20% */
    text-align: right; /* Center content */
}

#loadingBarContainer {
    width: 100%;
    margin: 0 auto; /* Centering the loading bar within the container */
    background-color: #ddd;
}

#loadingBar {
width: 10%;
height: 10px;
background: linear-gradient(to right, #FF988E, #FFAC86); /* Gradient from #141D33 to #8EE4D8 */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

#loadingText {
    font-size: 1.0em; /* Make the text a bit larger */
    margin-top: 10px; /* Space between the bar and the text */
    color: white;
}